:root {
  color-scheme: light;
}

* {
  box-sizing: border-box;
}

html,
body,
#app {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #0b2430;
  color: #f6e7c1;
  font-family: "Zain";
}

#app {
  display: block;
}

canvas {
  display: block;
  width: 100%;
  height: 100%;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'><circle cx='4' cy='4' r='2.2' fill='%23ffd54f'/></svg>") 4 4, auto;
}
